.header {
  display: flex;
  position: relative;
}

.header_img {
  width: 9em;
  position: absolute;
  margin: 0 0 10em 8em;
}

.img {
  width: 100%;
}

.header_menu {
  display: flex;
  align-items: center;
  padding: 15px 18em;
  width: 100%;
  justify-content: space-between;
  margin-top: 2.5em;
  background-color: #1f5db1;
}

.pharmacy_title a {
  color: #000000;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.list li {
  list-style-type: none;
}

.list_item {
  color: #000000;
  background-color: transparent;
  display: block;
  cursor: pointer;
  font-size: 1.3em;
  text-decoration: none;
  margin-right: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-bottom: 0.25rem solid rgba(205, 214, 219, 0);
}

.list_item:hover {
  border-bottom: 0.25rem solid rgb(255, 255, 255);
  color: #ffffff;
}


.active {
  background-color: transparent;
  display: block;
  cursor: pointer;
  font-size: 1.3em;
  text-decoration: none;
  margin-right: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-bottom: 0.25rem solid rgb(255, 255, 255);
  color: #ffffff;
}